/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {  
    width: 3%;
    height: 3%
}

.nav_links li {
    list-style: none;
    display: inline-block;
    margin:  5px 10px; 
}

.nav_links li a:link {
    color: #000000;
    text-decoration: none;
    padding: 27px 10px;
}

.nav_links a:hover {
    color: #0065FC;
    border-top: 3px solid;
    text-decoration: none;
}

.nav_links li a:visited {
    color: #000000;
    text-decoration: none;
    padding: 27px 10px;
}

.search-title h3 {
  margin-top: 1em;
  margin-bottom: .5em;
}

.search-title h5 {
  margin-top: .5em;
  margin-bottom: 2em;
  font-weight: lighter;
}

.search{
  Width: max-content;
  display: flex;
  height: 50px;
  Flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
 }

.fa-location-dot{
  border-style: solid;
  border-color: #F2F2F2;
  background: #F2F2F2;
  color: #000000;
  font-size: 100%;
  border-radius: 15px 0px 0px 15px;
  outline: None;
  padding: 15px 20px;
  }

.search-input{
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;
  outline: None;
  letter-spacing: 1px;
  }

input::placeholder {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  text-align: center;
 }

 @media only screen and (max-width: 1026px) {
.search-button{
        display: none;
    }
}

.search-button{
  background: #0065FC;
  border: none;
  border-radius: 0px 15px 15px 0px;
  outline: None;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0px 10px;
  cursor: pointer;
}

.fa-magnifying-glass{
  background: #0065FC;
  border: none;
  border-radius: 0px 15px 15px 0px;
  color: #F2F2F2;
  font-size: 100%;
  outline: None;
  padding: 15px 20px;
}

 @media only screen and (min-width: 1026px) {
.fa-magnifying-glass{
        display: none;
    }
}

.filter{
  display: flex;
  margin: 0em 0em 2em -3em;
}

.filter_links li {
  font-weight: bold;
  list-style: none;
  display: inline-block;
  margin:  5px 10px; 
  }

.filter_links li a:link {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  border-style: solid; 
  border-radius: 15px 15px 15px 15px;
  border-color: #d3d3d3;
  border-width: 1px;
  text-decoration: none;
  padding: 10px 20px;
 }

.filter_links li a:hover {
  color: #0065FC;
  font-weight: bold;
  font-size: medium;
  Background: #DEEBFF;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;
  text-decoration: none;
  padding: 10px 20px;
}

.filter_links li a:visited {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  border-style: solid; 
  border-width: 1px;
  border-radius: 15px 15px 15px 15px;
  border-color: #d3d3d3;
  text-decoration: none;
  padding: 10px 20px;
 }

.fa-money-bill-wave{
  padding: 0px 10px 0px 0px;
}

.fa-person{
  padding: 0px 10px 0px 0px;
}

.fa-heart{
  padding: 0px 10px 0px 0px;
}

.fa-fire{
  padding: 0px 10px 0px 0px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}