/*DESKTOP */
/*1. General */
/*2. Nav Links */
/*3. Search */
/*4. Filter */
/*5. General Cards */
/*6. Accommodation And Popular Cards */
/*7. Accommodation Cards */
/*8. Popular Cards */
/*9. Activities Cards */
/*10. Footer */

/*TABLET (min-width: 768px) and (max-width: 1024px) */
/*6.1 Tablet Accommodation And Popular Cards */
/*7.1 Tablet Accommodation Cards */
/*8.1 Tablet Popular Cards */
/*9.1 Tablet Activities Cards */
/*10.1 Tablet Footer */

/*MOBILE  (min-width: 320px) and (max-width: 767px)  */
/*1.2 Mobile General */
/*2.2 Mobile Nav Links */
/*3.2 Mobile Search */
/*4.2 Mobile Filter */
/*5.2 Mobile General Cards */
/*6.2 Mobile Accommodation And Popular Cards */
/*7.2 Mobile Accommodation Cards */
/*8.2 Mobile Popular Cards */
/*9.2 Mobile Activities Cards */
/*10.2 Mobile Footer */

/*CUSTOM TabletDesktop (min-width: 768px)*/
/*3.3 Custom Search Icon */
/*4.3 Custom Filter Title */

/*1. General */
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid,
.fa-regular {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
}

.main-container {
  width: 100%;
  padding: 0px 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5%;
}

/*2. Nav Links Start */
.nav_links ul {
  list-style: none;
}

.nav_links li {
  list-style: none;
  display: inline-block;
  margin: 15px 10px;
}

.nav_links li a:hover {
  color: var(--main-color);
  border-top: 3px solid;
  padding-top: 27px;
  text-decoration: none;
}

/*3. Search Start */
.search-title h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.search-title h5 {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-weight: lighter;
}

.search {
  width: max-content;
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
}

.fa-location-dot {
  border-style: solid;
  border-color: var(--main-bg-color);
  background: var(--main-bg-color);
  color: #000000;
  font-size: 100%;
  border-radius: 15px 0px 0px 15px;
  outline: None;
  padding: 15px 20px;
}

.search-input {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;
  outline: None;
  letter-spacing: 1px;
  color: #000000;
  font-weight: bold;
  font-size: small;
  text-align: center;
}

input::placeholder {
  color: #000000;
  font-weight: bold;
  font-size: small;
  text-align: center;
}

.search-button {
  background: var(--main-color);
  border: none;
  border-radius: 0px 15px 15px 0px;
  outline: None;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0px 10px;
  cursor: pointer;
}

/*4. Filter Start */
.filter {
  margin: 0em 0em 3em -3em;
}

.filter_links ul {
  display: flex;
  margin: 0em 0em 2em 0em;
}

.filter_links li {
  font-weight: bold;
  list-style: none;
  display: inline-block;
  margin: 10px 10px;
}

.filter_links li a:link {
  color: #000000;
  font-weight: bold;
  font-size: small;
  border-style: solid;
  border-radius: 15px 15px 15px 15px;
  border-color: #d3d3d3;
  border-width: 1px;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}

.filter_links li a:visited {
  color: #000000;
  font-weight: bold;
  font-size: small;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px 15px 15px 15px;
  border-color: #d3d3d3;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}

.filter_links li a:hover {
  color: #000000;
  font-weight: bold;
  font-size: small;
  background: var(--filter-bg-color);
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}

.fa-money-bill-wave {
  padding: 0px 10px 0px 0px;
}

.fa-person {
  padding: 0px 10px 0px 0px;
}

.fa-heart {
  padding: 0px 10px 0px 0px;
}

.fa-fire {
  padding: 0px 10px 0px 0px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.fa-circle-info {
  padding: 0px 10px 0px 0px;
}

.filter-info-message {
  font-weight: lighter;
}

/*5. General Cards Start */
.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  min-width: 165px;
}

.card-link {
  text-decoration: none;
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.usd {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/*6. Accommodation And Popular Cards Start*/
.accommodation-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodation-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 65px;
}

/*7. Accommodation Cards Start*/
.accommodation {
  width: 65%;
}

.accommodation-title {
  display: flex;
  padding-left: 25px;
}

.accommodation-cards .card {
  width: 25%;
  margin-top: 33px;
  margin-left: 30px;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.accommodation-cards img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accommodation-cards .card-content {
  width: 100%;
  padding-left: 15px;
}

.accommodation-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.accommodation-cards .card-subtitle {
  margin: 10px 10px 10px 0px;
}

.accommodation-footer {
  margin: 40px 0px 0px 0px;
  padding-left: 30px;
}

/*8. Popular Cards Start*/
.popular {
  width: 32%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards .card {
  display: flex;
  margin-top: 33px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.popular-cards img {
  width: 33%;
  height: 175px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  width: 67%;
  height: 150px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  text-decoration: none;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: -20px;
}

/*9. Activities Cards Start*/
.activities {
  width: 100%;
  padding-left: 45px;
}

.activities-title {
  display: flex;
  margin-left: 3px;
}

.activities-cards .card {
  width: 18%;
  margin-top: 25px;
  margin-right: 60px;
  margin-bottom: 66px;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities-cards img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activities-cards .card-content {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 15px;
}

.activities-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.activities-cards .card-subtitle {
  margin: 10px 10px 10px 0px;
}

/*10. Footer Start*/
.footer {
  background-color: var(--main-bg-color);
  line-height: 2;
}

.footer ul {
  list-style: none;
}

.footer-container {
  max-width: 1170px;
}

.footer-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

a:link {
  text-decoration: none;
}

.footer-col {
  margin: 0px 100px 0px -75px;
}

/*6.1 Tablet Accommodation And Popular Cards Start*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .accommodation-and-popular {
    display: block;
    width: 100%;
  }

  /*7.1 Tablet Accommodation Cards Start*/
  .accommodation {
    width: 100%;
  }

  .accommodation-title {
    margin-left: -25px;
  }

  .accommodation-footer {
    margin-left: -25px;
  }

  /*8.1 Tablet Popular Cards Start*/
  .popular {
    width: 100%;
  }

  .popular-cards {
    display: flex;
  }

  .popular-cards .card {
    margin: 20px;
    width: 200px;
  }

  /*9.1 Tablet Activities Cards Start*/
  .activities {
    padding: 0px;
  }

  .activities-cards {
    padding-left: 35px;
  }

  .activities-cards .card {
    margin-right: 25px;
  }

  .activities-cards img {
    width: 100%;
    max-height: 200px;
  }

  /*10.1 Tablet Footer */
  .footer-links {
    margin-left: 20px;
  }
}

/*1.2 Mobile General Start*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main-container {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
  }

  .body {
    margin: 0 auto;
  }

  header {
    display: block;
  }

  .logo {
    width: 75px;
    display: block;
    margin: 0 auto;
  }

  /*2.2 Mobile Nav Links Start*/
  .nav_links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
  }

  .nav_links li a:link {
    color: var(--main-bg-color);
    border-bottom: 3px solid;
    margin-left: -25px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .nav_links li a:hover {
    color: var(--main-color);
    border-top: none;
    border-bottom: 3px solid;
  }

  .nav_links a:visited {
    color: black;
    border-top: none;
    border-bottom: 3px solid var(--main-bg-color);
    text-decoration: none;
  }

  /*3.2 Mobile Search Start*/
  form {
    display: flex;
    justify-content: center;
  }

  .search-button {
    display: none;
  }

  .fa-magnifying-glass {
    background: var(--main-color);
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: var(--main-bg-color);
    font-size: 100%;
    outline: None;
    padding: 15px 20px;
  }

  /*4.2 Mobile Filter Start*/
  .filter {
    margin-top: -15px;
    margin-left: -10px;
    margin-bottom: -10px;
  }

  #mobile_filter_title {
    padding-left: 10px;
  }

  #desktoptablet_filter_title {
    display: none;
  }

  .filter_links li {
    font-weight: bold;
    list-style: none;
    margin: 10px 10px 20px 10px;
    padding-left: 0px;
  }

  /*5.2 Mobile General Cards Start*/

  .card {
    width: 100%;
  }

  /*6.2 Mobile Accommodation And Popular Cards Start*/
  .accommodation-and-popular {
    flex-flow: column-reverse;
  }

  .accommodation-and-popular section {
    border-radius: 0px;
  }

  /*7.2 Mobile Accommodation Cards Start*/
  .accommodation {
    width: 100%;
    background-color: white !important;
    margin-left: -10px;
    width: 110%;
  }

  .accommodation-cards .card {
    display: block;
    margin-top: 0px;
    margin-left: -10px;
    margin-bottom: 20px;
    width: 100%;
  }

  .accommodation-title {
    margin-left: -25px;
    margin-bottom: 25px;
  }

  .accommodation-footer {
    margin-left: -25px;
    margin-bottom: -40px;
  }

  /*8.2 Mobile Popular Cards Start*/

  .popular {
    width: 110%;
    margin-left: -10px;
    margin-bottom: 0px;
  }

  .popular-cards .card {
    display: flex;
    margin-left: -10px;
  }

  /*9.2 Mobile Activities Cards Start*/

  .activities {
    width: 90%;
    padding-left: 20px;
  }

  .activities-cards .card {
    width: 100%;
    margin-bottom: 10px;
  }

  .activities-cards img {
    height: 200px;
  }

  /*10.2 Mobile Footer Start*/
  .footer-row {
    display: block;
    margin-left: 50px;
  }

  .footer {
    background-color: var(--main-bg-color);
    line-height: 2;
    width: 110%;
    margin-left: -10px;
    margin-bottom: -25px;
    padding-bottom: 5px;
  }
}

/*3.3 Custom Search Icon Start*/
@media only screen and (min-width: 768px) {
  .fa-magnifying-glass {
    display: none;
  }

  /*3.3 Custom Search Icon Start*/
  #mobile_filter_title {
    display: none;
  }
}
